:root {
    --green: #1b5e20;
}

html {
    overflow: auto;
    scrollbar-width: none;
    /* For Firefox */
}

html::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Edge */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* user-select: none; */
}

.bg-green-dark {
    background-color: var(--green);
}

.bg-image {
    background-image: url('../assets/loginbg.png');
    background-size: cover;
    background-position: center;
}

.text-green {
    color: var(--green) !important;
}

input#username,
input#password {
    box-shadow: 0 0 0px 1000px #e6ffe6 inset !important;
    border: 1px solid var(--green);
}

.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 0 .25rem var(--bs-success-border-subtle);
}

.green-checkbox {
    background-color: #fff;
    border: 1px solid var(--green);
}

.green-checkbox:checked {
    background-color: var(--green);
    border-color: var(--green);
}

.text-green:hover {
    color: var(--green);
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    background: var(--green);
    color: white;
}

#sidebar .dropdown .dropdown-menu a.dropdown-item,
#sidebar .navbar-nav .nav-link {
    color: white !important;
    text-decoration: none;
    display: block;
    padding: 10px;
}

#sidebar .nav-item:hover,
#sidebar .navbar-nav .dropdown-menu li .dropdown-item:hover {
    background-color: #10974a;
}

#sidebar .dropdown-menu.show {
    position: unset !important;
    transform: none !important;
}

.active {
    font-weight: bold;
    color: #1b5e20 !important;
    margin: 0;
}

#sidebar .nav-item .active,
#sidebar .dropdown .dropdown-menu a.dropdown-item.active {
    background-color: #7b9710 !important;
}

.container {
    margin-top: 5rem !important;
}

thead tr th.th {
    background: var(--green) !important;
    color: white !important;
}

.shadow-s {
    box-shadow: 0px 0rem 1rem rgba(152, 152, 152, 0.15) !important;
}

#settingsTab .nav-item .nav-link.active,
#studentTabs .nav-item .nav-link.active {
    background-color: var(--green) !important;
    color: white !important;
}

tr td {
    align-content: center;
}